<mat-accordion>
  <mat-expansion-panel *ngFor="let game of games">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{game.gameName}}
      </mat-panel-title>
      <mat-panel-description>
        {{game.needed}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{game.playerCount}}</p>
  </mat-expansion-panel>
</mat-accordion>
