<div class="flex">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker
      [latitude]="m.latitude"
      [longitude]="m.longitude"
      *ngFor="let m of markers;
    let i=index"
      (markerClick)="this.openGames($event._id)"
    >
    </agm-marker>
  </agm-map>
  <div class="right">
    <app-mine-games></app-mine-games>
    <button mat-stroked-button>Create Game</button>
  </div>
</div>
