<form [formGroup]="registerForm" (ngSubmit)="submitRegister()">

  <mat-form-field>
    <input matInput formControlName="name" placeholder="First Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="lastname" placeholder="Last Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" placeholder="E-mail">
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput formControlName="password" placeholder="Password">
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password">
  </mat-form-field>

  <button mat-stroked-button>Submit Form</button>

</form>
