<div *ngIf="auth.user$ | async as user">
  <hr>
  <button class="button" (click)="auth.signOut()">Sign Out</button>
</div>
<div *ngIf='profile'>
  <app-profile-forms [profile]="profile"></app-profile-forms>
</div>
