<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

  <mat-form-field>
    <input matInput formControlName="email" placeholder="E-mail">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="password" placeholder="Password">
  </mat-form-field>

  <button mat-stroked-button>Submit Form</button>

</form>
<button class="button" (click)="auth.googleSignin()">Login</button>
