<form [formGroup]="ownGameForm">
  <mat-form-field>
    <input matInput formControlName="gameName" placeholder="Game Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="description" placeholder="descripton">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="needed" placeholder="needed">
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="playerCount" placeholder="playerCount">
  </mat-form-field>
  <button mat-button>Submit</button>
</form>
