<mat-horizontal-stepper #stepper>
  <mat-step>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        *ngFor="let m of markers;
        let i=index"
        (markerClick)="this.setStadiumID(stepper, $event._id)"
      >
      </agm-marker>
    </agm-map>
  </mat-step>
  <mat-step>
    <form [formGroup]="gameForm" (ngSubmit)="this.submit(gameForm.value)">
      <mat-form-field>
        <input matInput formControlName="gameName" placeholder="Game Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="description" placeholder="descripton">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="needed" placeholder="needed">
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="playerCount" placeholder="playerCount">
      </mat-form-field>
      <a mat-button matStepperPrevious>Back</a>
      <button mat-button>Submit</button>
    </form>
  </mat-step>
</mat-horizontal-stepper>

