<mat-toolbar color="primary" *ngIf=" user$ | async as user$">
  <mat-toolbar-row>
    <h1>Balling</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="['/profile',globals.uid]"> Profile </a>
      <a mat-button [routerLink]="'/game'"> Create game </a>
      <a mat-button [routerLink]="'/map'"> Map </a>
      <a mat-button [routerLink]="'/'"> Live Games </a>
      <a mat-button *ngIf="user$" (click)="auth.signOut()"> Sing Out </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
