 <form [formGroup]="profileForm" (ngSubmit)="ps.addProfile(profileForm.value)">

    <mat-form-field>
      <input matInput formControlName="height" placeholder="height">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="weight" placeholder="weight">
    </mat-form-field>
    <h2> SPORTS </h2>
    <div formArrayName="sports" *ngFor="let item of profileForm.get('sports').controls; let pointIndex=index;">
      <div [formGroupName]="pointIndex">
        <mat-form-field>
          <input matInput formControlName="sport" placeholder="sport">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="position" placeholder="position">
        </mat-form-field>
      </div>
      <a mat-stroked-button (click)="removeItem(profileForm.get('sports'), pointIndex)">Remove Sports</a>
    </div>
    <a mat-stroked-button (click)="addSport()">Add Sports</a>

    <div formArrayName="favoriteSports">
      <div *ngFor="let item of favoriteSports.controls; let pointIndex=index" [formGroupName]="pointIndex">
        <mat-form-field>
          <input matInput formControlName="point" placeholder="Favorite Sport" />
        </mat-form-field>
        <a mat-stroked-button (click)="removeItem(favoriteSports, pointIndex)">Remove Favorite Sport</a>
      </div>
    </div>

    <a mat-stroked-button (click)="addItem(favoriteSports)">Add Favorite Sport</a>

    <div formArrayName="sportsSchool">
      <div *ngFor="let item of sportsSchool.controls; let pointIndex=index" [formGroupName]="pointIndex">
        <mat-form-field>
          <input matInput formControlName="point" placeholder="Sport School" />
        </mat-form-field>
        <a mat-stroked-button (click)="removeItem(sportsSchool, pointIndex)">Remove Sports</a>
      </div>
    </div>

    <a mat-stroked-button (click)="addItem(sportsSchool)">Add Sports school</a>

    <div formArrayName="tournaments" *ngFor="let item of profileForm.get('tournaments').controls; let pointIndex=index;">
      <div [formGroupName]="pointIndex">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="name">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="place" placeholder="place">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="trophy" placeholder="trophy">
        </mat-form-field>
      </div>
      <a mat-stroked-button (click)="removeItem(profileForm.get('tournaments'), pointIndex)">Remove Sports</a>
    </div>
    <a mat-stroked-button (click)="addTournaments()">Add Tournaments</a>


    <button mat-stroked-button>{{submitButton}}</button>

  </form>

